body {
  padding: 0;
  margin : 0;
}

.header_container {
  background     : #000;
  height         : 70px;
  line-height    : 42px;
  justify-content: space-between;
}

.header_left {
  float  : left;
  display: flex;
}

.header_right {
  float: right;
}

.log_in_btn {
  background   : #4a90e2;
  color        : #fff;
  padding      : 6px 12px;
  margin       : 8px 16px;
  border-radius: 8px;
  float        : left;
}

.sign_up_btn {
  background   : #6c757d;
  color        : #fff;
  padding      : 6px 12px;
  margin       : 8px 16px;
  border-radius: 8px;
  float        : right;
}

.header_menu {
  background: #fff;
  text-align: left;
  position  : absolute;
  padding: 12px;
}

.navbar-toggler {
  line-height  : 70px;
  margin       : 0;
  padding      : 0;
  // padding-right: 12px;
  border       : none;
}

.nav-bar-menu {
  margin: 0 40px;
}

.navbar-collapse {
  text-align: center;
}
