// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.registration_room th  {
  padding: 10px 20px;
}

li {
  list-style-type: none;
}


.room_show_container {
  display: flex;
  text-align: center;
}


.room_reserve_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.room_img {
  width: 700px;
}